$color-primary-light: #71cff5;
$color-soft-blue: #1b1936;

// common primary color
$color-primary-dark-blue: #1a1c6b;
$color-primary-dark-purple: #333652;
$color-primary-light-purple: #a69bed;
$color-primary-light-purple-1: #a69bed90;
$color-primary-yellow: #fad02c;
$color-primary-red: #dc4b4b;
$color-primary-green: #2acb87;
$color-primary-blue: #3f6de1;
$color-dark-purple: #1b1f45;
$info-color: #a69bed;
$color-bg-warning: rgba(220, 75, 75, 0.1);

// color white
$color-white: #ffffff;
$pink-white: #fafafa;

// color gray
$color-gray-1: #f8fafc;
$color-gray-2: #d1d5db;
$color-gray-3: #f8f9fb;
$color-gray-4: #787878;
$color-gray-5: rgba(248, 249, 251, 0.5);

// color black
$color-dark: #000000;
$color-dark-1: #262734;
$color-dark-2: #202531;
$color-dark-3: #383d47;
$color-dark-4: #677184;
$color-dark-5: #e1e5eb;
$color-dark-6: #f3f4f6;
$color-dark-7: #0b0d17;
$color-dark-8: #404461;
$color-dark-9: #535670;
