#layout {
    min-height: 100vh;

    .header {
        width: 100%;
        display: flex;
        padding-inline: 160px;

        .header-logo {
            padding: 12px;
        }
    }

    .content {
        padding: 24px 160px;
    }
}

// .notification-modal .ant-modal-body {
//     height: 138px;
// }