* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --webkit-tap-highlight-color: transparent;
  user-select: none;
}

// body {
//   font-family: "Roboto", sans-serif;
// }

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.title-container {
  font-weight: 400;
}

.primary-divider {
  margin-bottom: 24px;
}

.primary-text {
  margin-bottom: 20px;
  font-size: 15px;
}

.hightlight-text {
  font-size: 15px;
  color: #178dff;
}